{% extends 'core/base.html' %}

{% block content %}

<div class="container-fluid mt-2 overflow-scroll" style="height: 100vh;">

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Transaction Id</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <th scope="row">{{ count }}</th>
                <td>{{ customer.username }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}